[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/mizugaki"]
	path = third_party/mizugaki
	url = git@github.com:project-tsurugi/mizugaki.git
[submodule "third_party/performance-tools"]
	path = third_party/performance-tools
	url = git@github.com:project-tsurugi/sandbox-performance-tools.git
[submodule "third_party/concurrentqueue"]
	path = third_party/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "third_party/tracy"]
	path = third_party/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "third_party/tsubakuro"]
	path = third_party/tsubakuro
	url = git@github.com:project-tsurugi/tsubakuro.git
[submodule "third_party/tateyama"]
	path = third_party/tateyama
	url = git@github.com:project-tsurugi/tateyama.git
[submodule "third_party/linenoise-ng"]
	path = third_party/linenoise-ng
	url = https://github.com/arangodb/linenoise-ng.git
[submodule "third_party/hayatsuki"]
	path = third_party/hayatsuki
	url = git@github.com:project-tsurugi/hayatsuki.git
