# CMake
/build*

# MS Office
~*

# Mac
.DS_Store

# VSCode
/.vscode/*
!/.vscode/samples


# CLion
cmake-build-*
.idea
*.tokens

# work in progress files
*.wip

#GLOBAL
GPATH
GRTAGS
GTAGS
HTML/

#gdb
.gdb_history
.gdb_init

# WSL related files
*:Zone.Identifier

# ctest
Testing/

## experimental usage for github copilot instructions
.github/copilot-instructions.md

## use this directory name to store local/private files
.local
